.newbcolor{
    background-color: rgb(22, 34, 0) !important ;
}
.accentcolor{
    color: rgb(132, 64, 5);
}
.accentcolor1 {
    color: rgb(247, 245, 217);
}
.accentcolor2{
    color: white;
}
.textcolor{
    color: black;
}